/*transit-access styles*/

.left60{
	width:55%;
	float:left;
}

.right40{
	width:44%;
	float:right;
	background-color:#efefef;
	border:1px solid #aaaaaa;
	margin-right:-4px;
	margin-top:1.25em;
	min-height:500px;
}

.left60 div{
	padding:0px 10px 0px 0px;
}

.right40 div{
	padding:10px 20px;
}

.right40 div p:first-child{margin-top:5px; font-style:italic;}

@media (min-width:0px){
	.left60, .right40{
		width:auto;
		float:none;
	}
}

@media (min-width:780px){
	.left60{
		width:55%;
		float:left;
	}
	.right40{
		width:42%;
		float:right;
	}

}